In [1]:
5+6

11

In [2]:
name = ['aniket', 'rahul', 'varun']
name.insert('sana')
print(name)

TypeError: insert expected 2 arguments, got 1

In [3]:
name = ['aniket', 'rahul', 'varun']
name.insert( ,'sana')
print(name)

SyntaxError: invalid syntax (<ipython-input-3-e9e3074a2abd>, line 2)

In [4]:
name = ['aniket', 'rahul', 'varun']
name.insert(1,'sana')
print(name)

['aniket', 'sana', 'rahul', 'varun']

In [5]:
name = ['aniket', 'rahul', 'varun']
name.insert(3,'anita')
print(name)

['aniket', 'rahul', 'varun', 'anita']

In [6]:
name = ['aniket', 'rahul', 'varun']
name.insert(1,'ritu')
print(name)

['aniket', 'ritu', 'rahul', 'varun']

In [7]:
name = ['aniket', 'rahul', 'varun']
name.insert(1,'sana')
print(name)

['aniket', 'sana', 'rahul', 'varun']

In [8]:
name = ['aniket', 'rahul', 'varun']
name.insert(1,'ritu')
print(name)

['aniket', 'ritu', 'rahul', 'varun']

In [9]:
name = ['aniket', 'rahul', 'varun']
name.insert(1,'sana')
print(name)

['aniket', 'sana', 'rahul', 'varun']

In [11]:
name_1 = ['aniket', 'sana', 'rahul', 'varun']
name_1.insert(1,'ritu')
print(name_1)

['aniket', 'ritu', 'sana', 'rahul', 'varun']

In [12]:
name01 = ['aniket', 'ritu', 'sana', 'rahul', 'varun']
name01.append('rohit')
name01.insert(1, 'sam')
print(name01)

['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']

In [ ]:
# Req : Now i want to delete an element

In [13]:
name02 = ['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']
del name02[0]

In [14]:
print(name02)

['sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']

In [15]:
name03 = ['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']
name03.append('raj')
name03.insert(3, 'nikhil')
del name03(4)

SyntaxError: cannot delete function call (<ipython-input-15-099328e89cb0>, line 4)

In [16]:
name03 = ['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']
name03.append('raj')
name03.insert(3, 'nikhil')
del name03[4]
print(name03)

['aniket', 'sam', 'ritu', 'nikhil', 'rahul', 'varun', 'rohit', 'raj']

In [17]:
name03 = ['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']
print(name03)

name03.append('raj')
print(name03)

name03.insert(4, 'nikhil')
print(name03)

del name03[4]
print(name03)

['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit', 'raj']

In [18]:
name03 = ['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']
print(name03)

name03.append('raj')
print(name03)

name03.insert(4, 'nikhil')
print(name03)

del name03[4]
print(name03)

['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit']
['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit', 'raj']
['aniket', 'sam', 'ritu', 'sana', 'nikhil', 'rahul', 'varun', 'rohit', 'raj']
['aniket', 'sam', 'ritu', 'sana', 'rahul', 'varun', 'rohit', 'raj']