In [4]:
first=('somiron')
last=('mitra')
full_name = f'{first.title()} {last.title()}'



print(first, last)

somiron mitra

In [3]:
first=('somiron')
last=('mitra')
full_name = f'{first.title()} {last.title()}'



print(full_name)

Somiron Mitra

In [5]:
first=('somiron')
last=('mitra')
full_name = f'{first.title()} {last.title()}'



print(first, last)
print(full_name)

somiron mitra
Somiron Mitra

In [12]:
first=('somiron')
last=('mitra')
nick=('pikun')
name=('MITRA SOMIRON')
full_name = f'{first.title()} {last.title()}'

full_name1 = f'My name is {first.title()} {last.title()}'
full_name2 = f'My nick name is {nick.upper()}'
full_name3 = f'{name.lower()}'


print(first, last)
print(full_name)
print(full_name1)
print(full_name2)
print("I am a trainer")
print(full_name3)

somiron mitra
Somiron Mitra
My name is Somiron Mitra
My nick name is PIKUN
I am a trainer
mitra somiron

In [15]:
first=('somiron')
last=('mitra')
nick=('pikun')
name=('MITRA SOMIRON')
full_name = f'{first.title()} {last.title()}'

full_name1 = f'My name is {first.title()} {last.title()}'
full_name2 = f'My nick name is {nick.upper()}'
full_name3 = f'{name.lower()}'
full_name3 = f'     my name in small letters is {name.lower()}'


print(first, last)
print(full_name)
print(full_name1)
print(full_name2)
print("I am a trainer")
print(full_name3)

somiron mitra
Somiron Mitra
My name is Somiron Mitra
My nick name is PIKUN
I am a trainer
     my name in small letters is mitra somiron

In [19]:
name1 = "   Somiron"
name2 = "     mitra      "
name3 = "              Somiron Mitra"
name4 = "Somiron Mitra                        "


print(name1)
print(name2)
print(name3)
print(name4)

   Somiron
     mitra
              Somiron Mitra
Somiron Mitra

In [ ]:
# req : to elimnate the white spaces

In [32]:
name1 = "   Somiron"
name2 = "     mitra      "
name3 = "              Somiron Mitra"
name4 = "Somiron Mitra                        "


print(name1.lstrip())
print(name2.strip())
print(name3)
print(name4)

Somiron
mitra
              Somiron Mitra
Somiron Mitra

In [ ]:
# lstrip() ===> eliminated or removes the white space on the left of the text
# rstrip() ===> eliminated or removes the white space on the right of the text
# strip() ===> it removes all the spaces

In [38]:
first=('somiron')
last=('mitra')
nick=('pikun')
name=('MITRA SOMIRON')
full_name = f'{first.title()} {last.title()}'

full_name1 = f'My name is {first.title()} {last.title()}'
full_name2 = f'My nick name is {nick.upper()}'
full_name3 = f'{name.lower()}'
full_name3 = f'     my name in small letters is {name.lower()}'


print(first.title(), last.upper())
print(full_name)
print(full_name1)
print(full_name2)
print("I am a trainer")
print(full_name3.strip())

Somiron MITRA
Somiron Mitra
My name is Somiron Mitra
My nick name is PIKUN
I am a trainer
my name in small letters is mitra somiron

In [36]:
name1 = "   Somiron.lstrip()"
print(name1)

   Somiron.lstrip()

In [73]:
print("                             \n\t\n\t\trahul".lstrip())

rahul

In [49]:
print("family".upper())
print("\tgrandfather".title())
print("\tgrandmother")
print("\tgrandfather")
print("\tgrandmother")
print("\t\tpapa")
print("\t\tmummy")
print("\t\t\tson")
print("\t\t\tdaughter")
print('\tchacha')
print('\tchachi')
print('\t\tbhai')
print('\t\tbehen')
print("\t\tpapa")
print("\t\tmummy")
print("\t\t\tson")
print("\t\t\tdaughter")
print('\tchacha')
print('\tchachi')
print('\t\tbhai')
print('\t\tbehen')

FAMILY
	Grandfather
	grandmother
	grandfather
	grandmother
		papa
		mummy
			son
			daughter
	chacha
	chachi
		bhai
		behen
		papa
		mummy
			son
			daughter
	chacha
	chachi
		bhai
		behen

In [2]:
name = "rahul"
f'{name.upper()}'

'RAHUL'

In [94]:
print("sam","\t\trahul".strip())

sam rahul